<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Album</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>
 
  <body>
 
   
 
      <div class="jumbotron" >
        <h1 align="center">Photo Gallery</h1>
        <form class="form-signin" action="/Picture" method="POST" align="center">
          <label for="Link" class="sr-only">Picture Link</label>
           <input type="name" name="PictureLink" id="PictureLink" class="form-control" placeholder="Picture's Link" required autofocus>
        
        <label for="Name" class="sr-only">Name</label>
        <input type="name" name="Name" id="Name" class="form-control" placeholder="Picture's Name" required autofocus> 
       
       <label for="Link" class="sr-only">Album's Name</label>
        <input type="name" name="AlbumName" id="AlbumName" class="form-control" placeholder="Album's Name" required autofocus>
       <label for="Security" class="sr-only">Security</label>
        <input type="name" name="Security" id="Security" class="form-control" placeholder="Public/Private/Only Me" required autofocus>
        <label for="Description" class="sr-only">Description</label>
        <input type="name" name="Description" id="Description" class="form-control" placeholder="Description" required autofocus>
        <label for="Location" class="sr-only">Location</label>
       <input type="name" name="Location" id="Location" class="form-control" placeholder="Location" required autofocus>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit" type="submit">Add Picture</button>
      </form>
      </div>
 
       
 
  </body>
</html>