<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Remove Album</title>
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>
 
  <body>
 
   
 
      <div class="jumbotron" >
        <h1 align="center">Photo Gallery</h1>
        <form class="form-signin" action="/removepicture" method="POST" align="center">
        <label for="Picture" class="sr-only">Album Name</label>
        <input type="ALname" name="AlbumName" id="AlbumName" class="form-control" placeholder="Album Name" required autofocus>
         <label for="Picture" class="sr-only">Picture Name</label>
        <input type="Pname" name="PictureName" id="PictureName" class="form-control" placeholder="Picture Name" required autofocus>
       
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit" type="submit">Remove Album</button>
      </form>
      </div>
 
       
 
  </body>
</html>