<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
  </head>
 
  <body>
 
   
 
      <div class="jumbotron">
        <h1>Photo Gallery</h1>
        <p>Hi {{Fname}}, Thank you for joining! </p>
      </div>
 
       
 
  </body>
</html>